body {
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 70px;
}

.justGivingLogo {
  padding-top: 15px;
  width: 130px;
}

.imageStrip {
  background: url("https://www.bhf.org.uk/-/media/images/banners/christmas-2016-jack-opt.jpg");
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

.imageStripContainer {
  padding-top: 30px;
}

.heading {
  margin: 0;
  color: #fff;
  padding-bottom: 5px;
}

.headingWrapper {
  padding-top: 1em;
  padding-bottom: 1em;
}

.britishHeartFoundationLogo {
  width: 70px;
}

.middleSection {
  background-color: #f8f8f8;
  padding-top: 3em;
  padding-bottom: 3em;
}

.strapLineHeading {
  margin: 0;
  color: #3d3d3d;
}

.strapLine {
  width: 70%;
  color: #a0a0a0;
}

.link {
  text-decoration: none;
  padding-right: 40px;
  padding-left: 5px;
  color: #b5b5b5;
  vertical-align: baseline;
}

.material-icons {
  color: #b5b5b5;
  vertical-align: top;
}

.buttonContainer {
  padding-top: 2em;
}

.donateButton {
  background-color: #8c2d80;
  color: #fff;
  display: inline-block;
  border: 1px solid #8c2d80;
  padding-top: 5px;
  padding-bottom: 8px;
  width: 130px;
  text-align: center;
  border-radius: 35px;
  font-size: 16px;
  cursor: pointer;
}

.donateInput {
  width: 130px;
  border-radius: 4px;
  display: block;
  border: 1px solid grey;
  height: 32px;
  font-size: 16px;
  margin-bottom: 1em;
  padding: 5px;
  margin-top: 5.5em;
}

.fundraiseButton {
  color: #8c2d80;
  border: 1px solid #8c2d80;
  display: inline-block;
  margin-left: 1.5em;
  padding-top: 5px;
  padding-bottom: 8px;
  width: 130px;
  text-align: center;
  border-radius: 35px;
  cursor: pointer;
}

.donationsContainer {
  padding-top: 4em;
  padding-bottom: 4em;
  width: 60%;
  display: inline-block;
}

.donation {
  padding-top: 2em;
  width: 460px;
}

.donation hr {
  border: 1px solid #f4f4f4;
  margin-top: 2em;
}

.donationAvatar {
  border-radius: 100%;
  width: 65px;
}

.donationContents {
  display: inline-block;
  width: 350px;
  margin-left: 2em;
}

.donarName {
  display: inline-block;
}

.donarAmount {
  display: inline-block;
  float: right;
  color: #8c2d80;
}

.donarDescription {
  color: #b5b5b5;
  margin-top: 0;
}

.gettingDonations {
  color: #a0a0a0;
}

.rightSection {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding-top: 2em;
  text-align: -webkit-center;
}

.exampleDonation {
  font-size: 2em;
  text-align: center;
  color: #8c2d80;
  width: 250px;
  margin-bottom: 0;
  margin-top: 2.5em;
}

.exampleDonationDescription {
  color: #b5b5b5;
  width: 250px;
  text-align: center;
  font-size: 1.1em;
}

.footer {
  height: 140px;
  background-color: #8c2d80;
}

@media screen and (max-width: 1024px) {
  .donation {
    width: 100%;
  }
  .donationContents {
    width: 100%;
    margin-left: 0;
  }
  .rightSection {
    width: 100%;
    padding-top: 0;
    padding-bottom: 4em;
  }
  .donationsContainer {
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .strapLine {
    width: 100%;
  }
  .imageStrip {
    height: 320px;
  }
}

@media screen and (max-width: 698px) {
  body {
    font-size: 0.7em;
  }
  .imageStrip {
    background-size: 100vh;
    height: 280px;
  }
  .imageStripContainer {
    font-size: 0.7em;
  }
  .britishHeartFoundationLogo {
    width: 50px;
  }
}
